@import '../../styles/variables';

.filterContainer{
  padding: $padding*2 90px $padding*2 $padding*2;
  display: flex;
  column-gap: 4px;
  row-gap: 3px;
  flex-wrap: wrap;
  justify-content: stretch;

  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: appear;

  transition: 0.3s;
}


@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.category{
  color: white;
  border-radius: $radius3;
  height: $radius3 * 2;
  padding: 0 15px 0 15px;
  line-height: $radius3 * 2;
  position: relative;
  font-family: ibm-plex-mono, monospace;
  font-size: 14px;
  text-align: center;
  background-color: black;
  transition: 0.3s ease;

  //&::before{
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  z-index: 1;
  //  border-radius: $radius3;
  //  mix-blend-mode: difference;
  //
  //  background: linear-gradient(90deg,
  //          black 0%,
  //          black 50%,
  //
  //          white 60%,
  //          black 75%,
  //          black 100%);
  //  background-size: 200% 100%;
  //  background-position: 0%;
  //}

  @media (hover: hover) {
    &:hover {
      border-radius: 3px;
      .count, .close{
        border-radius: 1px;
      }
      //&::before{
      //  background-position: 150%;
      //  transition: 1s ease;
      //}
    }
  }




  &.categoryWithCount{
    padding: 0 15px 0 40px;
  }

  &.categoryClose{
    padding: 0 15px 0 40px;
    background-color: black;
    color: white;
  }

  .count, .close {
    position: absolute;
    left: $radius3 * 0.2 + 1;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: $radius3 * 1.6 - 2;
    width: 30px;
    transition: 0.3s ease;
  }

  .count{
    background-color: white;
    color: black;
  }
  .close{
    background-color: #ff3c59;
    color: white;
  }


}

