@import '../../styles/variables';

.cursorContainer{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  image-rendering: auto;
  pointer-events: none;
  //mix-blend-mode: difference;
  img {
    //filter: drop-shadow(0 0 10px white);
  }
  @media (hover: none) {
    /* behaviour for touch browsers */
    display: none;
  }
}

.cursorTextContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  image-rendering: auto;
  pointer-events: none;

  @media (hover: none) {
    /* behaviour for touch browsers */
    display: none;
  }
}

.cursorTextInner{
  transform-origin: top left;

  height: 100px;
  width: 100px;

  background-color: red;
  opacity: 0.5;
}